header{
    background-image: none;
    background-color: #EEE9D5;
    }
body{
    background-image: url("../images/other/subtle_white_feathers.webp");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
li{margin: 5% 0;}
footer{
    background-color: #ecdea8;
    flex-shrink: 0;
}

.icon {
        height: 1.5em;
    }
            
.logo {
    height: 5em;
    width: auto;
    border-radius: 50%;
}
.top{
    position: fixed;
    bottom: 2%;
    right:  2%;
    width: 3%; 
    cursor: pointer;
    z-index: 1;
    }
.overflow-hidden{overflow: hidden;}
.mt8{margin-top: 8%;}
.sideBar {
    position: sticky;
    top: 50px; /* 導覽列的高度 */
}
#myLoading{
    text-align: center;
    display: none;
}
/* 新增食記按鈕 */
#write{
    position: fixed;
    top: 35vh;
    right:  2%;
    cursor: pointer;
    z-index: 1;
}
#write:hover{
    transform:scale(1.2,1.2);
    transition: 0.3s;
}

/* 側邊欄 */
.custom-ul {
    background-color: #fff;
    width: 15%;
    padding: 0;
    margin: 0 2% 0 0 ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    list-style-type: none;
    border-radius: 10px;
    box-shadow: 5px 10px 15px #aaaaaa;
    }
.custom-ul img{
    width:30%;
    cursor: pointer;
    }
/* 最新文章1+2 */
.ellipsis { 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis; /* 使用省略號表示被隱藏的內容 */
}
.new-container{
    /* background-color: black; */
    height: 500px;
}
.article-1{
    /* background-color: blue; */
    height: 500px;
    overflow: hidden;
    position: relative;
    /* width:300px */
}
.article-1:hover{cursor: pointer;}
.article-1>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.article-1>img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.article-1>div{
    position: absolute;
    bottom: 0px;
    color:white;
    width:100%;
    background-color: rgba(76, 74, 74, 0.353);
    padding:2% 2% 0% 2%;
}
.noMargin{margin:0}
.latestDate-1{
    position: absolute;
    right:10px;
    bottom:2px;
    /* margin-right:3%; */
    margin-bottom: 2px;
    /* margin-top: 3%; */
}
/* 最新文章右邊2 */
.height500{
    height: 500px;
    position: relative;
    overflow: hidden;
}
.height500 img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
}
.img-con {
    height: 250px;
    position: relative;
    overflow: hidden;
}
.img-con img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
}
.img-con:hover img {
    transform: scale(1.05);
    cursor: pointer;
}
.height500:hover img {
    transform: scale(1.05);
    cursor: pointer;
}
.text-con {
    /* position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #00000080;
    padding: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s ease; */
    position: absolute;
    bottom: 0px;
    color:white;
    width:100%;
    background-color: rgba(76, 74, 74, 0.353);
    padding:2% 2% 3% 2%;
        }
.latestDate-2{
    position: absolute;
    right:0;
    bottom:0;
    margin-right:3%;
    margin-bottom: 0;
    margin-top: 3%;
}

/* 店家3*4 */
.card {
    border: 1px solid #ccc;
    margin: 1.2%;
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 15px #aaaaaa;
    }

.card-body{
    padding: 0;
    overflow: hidden;
    width:auto;
    height:200px;
}
.card-body > img {
    transition: transform 0.3s ease;
    width: 100%;
    height: 200px;
    object-fit: cover; 
    }
.card-body >img:hover {
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    }
.card-body  a>img{
    transition: transform 0.3s ease;
    width: 100%;
    height: 200px;
    object-fit: cover; 
    }
.card-body > a>img:hover {
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    }
.card-footer {
    /* text-align: center; */
    /* align-items: center;
    justify-content: center; */
    padding: 10px; 
    width: 100%;
    height: 110px;
    position: relative;
    text-decoration: none;
    }
.card-footer img{
    width: 25px;
}

.fixed-bottom-center {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.fixed-bottom-center img{margin-right:10px;}





