/* 標題 */
.myTitle{
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-size: 6em;
    font-weight: bolder;
    text-align: center;
    color:#b67546;font-weight: bold;text-decoration: none;
    margin-bottom: 8%;
    position: relative;
    top: 40px;
}

/* 介紹 */
article{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5%;
}

/* 餐廳大門圖 */
        #mainImageRest {
            transform-origin: center center;
            transition: all 1.5s ease-in-out;
        }
        #mainImageRest img{
            position: relative; left: 0%;
        }

        /* 食記大門圖 */
        #mainImageNotes {
            transform-origin: center center;
            transition: all 1.5s ease-in-out;
        }
        #mainImageNotes img{
            position: relative; left: -30%;
        }

        /* 餐廳開門動畫 */
        .doorOpenLeft {
            transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(50deg);
            animation-fill-mode: forwards;
        }

        /* 食記開門動畫 */
        .doorOpenRight {
            transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-50deg);
            animation-fill-mode: forwards;
        }

        #mainImageRest button,
        #mainImageNotes button{
            border:0cap
        }